<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="control-label col-sm-2" for="email">Address One</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="addOne" placeholder="Enter Address One" autofocus />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="pwd">Address Two</label>
		<div class="col-sm-10"> 
			<input type="text" class="form-control" id="addTwo" placeholder="Enter Address Two">
		</div>
	</div>
	<div class="form-group"> 
		<label class="control-label col-sm-2" for="pwd">City</label>
		<div class="col-sm-10"> 
			<input type="text" class="form-control" id="city" placeholder="Enter City">
		</div>
	</div>
	<div class="form-group"> 
		<label class="control-label col-sm-2" for="pwd">State</label>
		<div class="col-sm-10"> 
			<input type="text" class="form-control" id="state" placeholder="Enter State">
		</div>
	</div>
	<div class="form-group"> 
		<label class="control-label col-sm-2" for="pwd">ZipCode</label>
		<div class="col-sm-10"> 
			<input type="number" class="form-control" id="zipcode" placeholder="Enter ZipCode">
		</div>
	</div>
	<div class="form-group"> 
		<div class="col-sm-offset-4 col-sm-8">
			<button type="button" class="btn btn-primary" id="complete">Finish</button>
		</div>
	</div>
</form>