<table class="table">
	<thead class="thead-inverse">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Address One</th>
			<th>Address Two</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= fname %></td>
			<td><%= lname %></td>
			<td><%= addOne %></td>
			<td><%= addTwo %></td>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead class="thead-default">
		<tr>
			<th>City</th>
			<th>State</th>
			<th>ZipCode</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= city %></td>
			<td><%= state %></td>
			<td><%= zipcode %></td>
		</tr>
	</tbody>
</table>